node_modules
.next
.env
.env.*
!.env.example
.git
.github
docs
tests
playwright-report
test-results
coverage
*.md
!CHANGELOG.md
!README.md
!LICENSE
.vscode
.idea
*.log
*.tsbuildinfo
docker/docker-compose.yml
docker/docker-compose.deploy.yml
